{% extends 'base.html.twig' %}

{% block title %}Participantes{% endblock %}

{% block body %}
    <h1>Listado de participantes</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellidop</th>
                <th>Apellidom</th>
                <th>Edad</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for participante in participantes %}
            <tr>
                <td>{{ participante.id }}</td>
                <td>{{ participante.nombre }}</td>
                <td>{{ participante.apellidop }}</td>
                <td>{{ participante.apellidom }}</td>
                <td>{{ participante.edad }}</td>
                <td>
                    <a href="{{ path('participantes_show', {'id': participante.id}) }}">Ver</a>
                    <a href="{{ path('participantes_edit', {'id': participante.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">No existen registros</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('participantes_new') }}">Crear participante</a>
{% endblock %}
