{% extends 'base.html.twig' %}

{% block title %}Torneos{% endblock %}

{% block body %}
    <h1>Listado de Torneos</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Deporte</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for torneo in torneos %}
            <tr>
                <td>{{ torneo.id }}</td>
                <td>{{ torneo.nombre }}</td>
                <td>{{ torneo.deporte }}</td>
                <td>{{ torneo.fecha ? torneo.fecha|date('Y-m-d') : '' }}</td>
                <td>{{ torneo.hora ? torneo.hora|date('H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('torneos_show', {'id': torneo.id}) }}">Ver</a>
                    <a href="{{ path('torneos_edit', {'id': torneo.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">No existen registros</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('torneos_new') }}">Crear torneo</a>
{% endblock %}
